* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
body {
    margin: 0;
    background-color: #fff;
    font-size: 16px;
    position: relative;
    font-family: 'ProximaNova', sans-serif;
    color: #292929;
    font-weight: 200;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header {
    position: relative;
}

.header-inner {
    color: #fff;
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 100;
    padding-top: 25px;
    padding-bottom: 15px;
    transition-duration: .4s;
}

.header-inner.header-inner__active {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px 0 #ddd;
    color: #292929;
    padding-top: 15px;
}

.header-inner__active .header-inner__list a,
.header-inner__active .header-inner__tel {
    color: #292929;
}

.header-inner__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-inner__logo {
    flex-grow: 1;
}

.header-inner__nav {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
}

.header-inner__list a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition-duration: .4s;
}

.header-inner__list a:hover {
    text-decoration: none;
    color: #fbba2f;
}

.header-inner__tel {
    flex-grow: 3;
    text-align: right;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.swiper-slide__content {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 30px;
    padding-bottom: 240px;
}

.swiper-slide__main {
    background-image: url('../images/header/header-slide-1.jpg');
}

.swiper-slide__next {
    background-image: url('../images/header/header-slide-2.jpg');
}

.swiper-slide__last {
    background-image: url('../images/header/header-slide-3.jpg');
}

.swiper-slide__content_blok {
    margin-top: 100px;
}

.swiper-slide__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
}
.title-main {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: #fbba2f;
}

.swiper-slide__text,
.form__text {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}

.form {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.form__text {
    margin-bottom: 20px;
    width: 100%;
}

.form__input {
    max-width: 250px;
    width: 100%;
    padding: 0 15px;
    color: #292929;
    font-size: 12px;
    line-height: 45px;
    border: none;
    outline: none;
    margin-right: 10px;
}

.form__btn,
.modal-btn,
.stages-container__btn {
    background-color: #fbba2f;
    font-size: 15px;
    line-height: 44px;
    color: #292929;
    font-weight: 600;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: .4s;
}

.form__btn:hover,
.modal-btn:hover,
.stages-container__btn:hover {
    background-color: #fccb61;
    color: #fff;
}

.swiper-wrap {
    width: 350px;
    height: 250px;
    position: absolute;
    top: 25%;
    left: calc(50% + 300px);
    display: flex;
    flex-direction: column;
}

.slide-item .icon {
    width: 40px;
    height: 40px;
    fill: #fff;
    transform: scale(1.2);
}

.slide-item_active .icon {
    fill: #fbba2f;
    transform: scale(1.5);
}

.slide-item_active .main-text  {
    font-weight: bold;
}

.slide-item {
    display: flex;
    align-items: center;
    text-align: right;
    margin-bottom: 25px;
    cursor: pointer;
}

.slide-item:last-child {
    margin-bottom: 0;
}

.slide-item_text {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 25px;
}

.slide-item_active .slide-item_text {
    color: #fbba2f;
}

.main-text {
    display: block;
    text-transform: uppercase;
}

.swiper-button-prev, 
.swiper-button-next {
    border: none;
    background-color: transparent;
    outline: none;
    color: #fbc144;
    top: calc(50% - 5%);
}

.swiper-button-prev::after, 
.swiper-button-next::after {
    font-size: 33px;
}

.swiper-button-prev {
    left: 30px;
}

.swiper-button-next {
    right: 30px;
}

.gallery {
    padding-top: 90px;
    padding-bottom: 75px;
}

.gallery-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    color: #292929;
    font-size: 26px;
    line-height: 30px;
}
.gallery-images-sliders {
    position: relative;
}

.gallery-swiper-container,
.second-gallery-slider,
.our-team-swiper-container,
.our-team-second-swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin-top: 60px;
}

.second-gallery-slider,
.our-team-second-swiper {
    display: block;
    margin-top: 15px;
}

.swiper-slide-pool {
    display: block;
    width: fit-content;
    max-height: 225px;
    transition-duration: .1s;
}

.swiper-slide-pool img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.swiper-slide-pool:hover {
    background-color: rgb(28,55,115);
}

.swiper-slide-pool .icon {
    opacity: 0;
    width: 40px;
    height: 40px;
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20px);
    transition-duration: .1s;
}

.swiper-slide-pool:hover img {
    opacity: .3;
}

.swiper-slide-pool:hover .icon {
    opacity: 1;
}

.swiper-btn-prev {  
    left: -40px;
}

.swiper-btn-next {
    right: -40px;
}

.swiper-pagination {
    position: relative;
    margin-top: 40px;
}

.swiper-pagination-bullet {
    width: 35px;
    border-radius: 0;
    height: 3px;
    background: #fbba2f;
    opacity: .2;
    margin-left: 7px;
    margin-right: 7px;
    outline: none;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fbba2f;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(41, 41, 41, 0.6);
}
  
.modal:hover {
    cursor: zoom-out;
}
  
.modal__wrapper {
    background-color: rgba(41, 41, 41, 0);
    max-width: 852px;
    width: 90%;
    height: 552px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.modal__box {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    background-color: #fefefe;
    overflow: hidden;
}
  
.modal__box:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
  
.modal__close {
    width: 52px;
    height: 52px;
    color: #fff;
    font-size: 48px;
    padding: 3px 14px;
    right: -40px;
    top: -40px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
}
  
.modal__close:hover,
.modal__close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
  
.modal__img {
    transition-duration: .5s;
    max-height: 550px;
    width: 100%;
    max-width: 900px;
}
  
.modal__img img {
    width: 100%;
    max-width: 870px;
    height: 100%;
    z-index: 1;
}

.modal__img:hover img {
    cursor: pointer;
}

.modal-btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.cost {
    padding-top: 60px;
    padding-bottom: 60px;
}

.cost-title,
.stages__title,
.stages__text,
.advantages__title,
.fair-price__title,
.our-team__title {
    font-size: 28px;
    color: #292929;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 65px;
}

.cost-subtitle {
    display: block;
    text-transform: lowercase;
}

.cost-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cost-expert {
    display: flex;
    flex: 0 0 66.7%;
    margin-right: 20px;
}

.cost-expert__avatar {
    margin-right: 30px;
}

.cost-expert__name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.cost-expert__rank {
    font-size: 16px;
    font-weight: 400;
}

.cost-expert__lists,
.stages__lists {
    list-style: none;
    margin-top: 30px;
}

.cost-expert__text,
.stages__text-list {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
}

.cost-expert__text::before,
.stages__text-list::before {
    content: "";
    background-color: transparent;
    position: absolute;
    left: -22px;
    top: 0px;
    width: 5px;
    border-bottom: 3px solid #fbc144;
    height: 11px;
    border-right: 3px solid #fbc144;
    transform: rotate(45deg);
}

.cost-form {
    margin-top: 0;
    flex: 0 0 33.33333%;
    justify-content: center;
    padding: 22px 40px;
    text-align: left;
    border: 3px solid #fbba2f;
    position: relative;
}

.cost-form::before,
.cost-form::after {
    content: '';
    position: absolute;
}

.cost-form::before {
    top: 40px;
    left: -60px;
    border: 30px solid transparent;
    border-right: 30px solid #fbba2f;
}

.cost-form::after {
    left: -61px;
    top: 35px;
    border: 35px solid transparent;
    border-right: 35px solid #fff;
}

.cost-form .form__text {
    color: #292929;
    font-weight: 600;
}

.cost-form .form__input {
    background: #f7f7f7;
    margin-right: 0;
    margin-bottom: 10px;
}

.cost-form .form__btn {
    max-width: 250px;
}

.stages {
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
}

.stages__title {
    text-align: center;
    margin-bottom: 0;
}

.stages__text {
    text-transform: lowercase;
    text-align: center;
    line-height: 29px;
}

.stages__steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.stages-box {
    border: 1px solid transparent;
    padding: 5px 10px;
    max-width: 175px;
    width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    background: #f7f7f7;
    transition-duration: .5s;
}

.stages-box:hover {
    background: #fff;
    border: 1px solid #fbba2f;
}

.stages-box__active {
    background: #fff;
    border: 1px solid #fbba2f;
}

.stages-box::before,
.stages-box__active::before,
.fair-price__text:first-child::before {
    content: "";
    position: absolute;
    border-top: 1px solid #a3aeb8;
    width: 40px;
    height: 20px;
    right: -60px;
    top: 50%;
    transition-duration: .5s;
}

.stages-box__active::before {
    border-top: 1px solid #fbba2f;
}

.stages-box::after,
.stages-box__active::after,
.fair-price__text:first-child::after {
    content: "";
    position: absolute;
    border: solid #a3aeb8;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    top: 50%;
    right: -64px;
    transform: rotate(-45deg) translateY(-7px);
    transition-duration: .5s;
}

.stages-box__active::after {
    border: solid #fbba2f;
    border-width: 0 2px 2px 0;
}

.stages-box:last-child::before,
.stages-box:last-child::after {
    content: none;
}

.stages-box__active .stages-box__text,
.stages-box__active .stages-box__days {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: rgb(32, 32, 32);
    text-align: center;
}

.stages-box__text {
    font-size: 14px;
    line-height: 18px;
    color: rgb(32, 32, 32);
    text-align: center;
    font-weight: 400px;
}

.stages-box__active .stages-box__days,
.stages-box__days {
    display: block;
    font-weight: bold;
    color: #fbba2f;
}

.stages-box__days {
    color: rgb(32, 32, 32);
    font-weight: inherit;
}

.stages-container {
    display: flex;
}

.stages-container__box img {
    width: 480px;
    max-height: 300px;
}

.stages-container__content {
    margin-left: 40px;
}

.stages-container__fractions {
    font-size: 16px;
    line-height: 42px;
    color: rgba(32, 32, 32, 0.502);
    text-transform: uppercase;
}

.stages-container__fractions--current {
    font-size: 26px;
    color: rgb(251, 186, 47);
}

.stages-container__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    font-weight: 600;
}

.stages-container__abbr {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: rgb(41, 41, 41);
    border-bottom: 1px solid #fbba2f;
    cursor: pointer;
    transition-duration: .4s;
    position: relative;
}

.stages-container__abbr:hover {
    color: #fbba2f;
}

.stages-container__abbr:hover .stages-container__abbr--hover {
    color: rgb(41, 41, 41);
}

.stages-container__abbr--hover {
    display: none;
    color: #292929;
    position: absolute;
    background: #fff;
    white-space: nowrap;
    text-transform: none;
    border: 1px solid #fbba2f;
    z-index: 1;
    padding: 5px 15px;
    left: -23px;
    top: 30px;
}

.stages-container__abbr--hover:before {
    border: 12px solid transparent;
    border-bottom: 12px solid #fbba2f;
    position: absolute;
    content: '';
    left: 18px;
    top: -25px;
}

.stages-container__abbr--hover:after {
    border: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    content: '';
    left: 18px;
    top: -23px;
}

.stages-container__abbr:hover .stages-container__abbr--hover {
    display: block;
}

.stages-container__btn:first-child {
    background-color: #f7f7f7;
    margin-right: 20px;
}

.stages-container__btn:first-child:hover {
    background-color: #fbba2f;
}

.stages-container__content .cost-expert__lists {
    margin-bottom: 30px;
}

.stages-container__buttons {
    display: flex;
}

.stages-swiper-container {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.stages-btn-prev,
.stages-btn-next {
    top: calc(50% - -15%);
}

.stages-btn-prev {
    left: 90px;
}

.stages-btn-next {
    right: 90px;
}

.stages .modal {
    background-color: rgba(66, 87, 104, .8);
}

.stages .modal__wrapper {
    height: 50%;
}

.stages .modal__box {
    background-image: url('../images/stages/bg-popap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding: 35px 65px;
    cursor: default;
}

.stages .modal__title {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #fbba2f;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.stages .modal__text {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .5px;
}
  
.stages .modal__close {
    color: #000;
    right: 10px;
    top: 50px;
    z-index: 11;
}

.stages .modal__close:hover {
    color: #fbba2f;
}

.modal .stages__text-list {
    font-size: 14px;
}

.stages .modal__form {
    margin-top: 0;
}

.stages .form__input {
    background-color: #f7f7f7;
    max-width: 305px;
}

.modal .form__btn {
    max-width: 305px;
}

.stages .form__text {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: 32px;
}

.consultation {
    background-color: #f7f7f7;
}

.consultation .cost-form::after {
    border-right: 35px solid #f7f7f7;
}

.consultation .cost-expert {
    align-items: center;
    margin-bottom: 35px;
    opacity: .5;
    cursor: pointer;
    transition: all .4s;
}

.consultation .cost-expert__active {
    opacity: 1;
}

.consultation .cost-expert:last-child {
    align-items: center;
    margin-bottom: 0;
}

.consultation .cost-expert__avatar {
    width: 83px;
    height: 83px;
    border: 1px solid #fbba2f;
    padding: 3px;
    display: block;
    object-fit: cover;
}

.consultation .cost-expert__info {
    max-width: 200px;
}

.consultation .cost-title {
    max-width: 500px;
    margin-bottom: 60px;
}

.consultation .cost-content {
    justify-content: inherit;
}

.consultation .consultation__experts {
    margin-right: 80px;
}

.consultation__forms-block {
    flex-grow: 1;
}

.consultation .cost-form {
    max-width: 520px;
    flex-direction: column;
}

.consultation .form__avatar-box {
    position: absolute;
    top: -21%;
    right: -16%;
}

.consultation .form__avatar {
    width: 240px;
    height: 270px;
    display: block;
    object-fit: cover;
}

.consultation .form__person-name {
    text-transform: uppercase;
    max-width: 230px;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 600;
}

.consultation .form__position {
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
    margin-top: 10px;
}

.consultation .form__body {
    margin-top: 45px;
    max-width: 430px;
    display: flex;
    margin-bottom: 25px;
}

.consultation .form__age-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 10px;
}

.consultation .form__age:first-child {
    font-size: 65px;
    line-height: 60px;
    font-weight: 400;
}

.consultation .form__age:last-child {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.consultation .form__text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    max-width: 200px;
    margin-bottom: 0;
}

.consultation .form__action {
    display: flex;
    align-items: center;
}

.consultation .form__input {
    background-color: #fff;
    margin-bottom: 0;
    margin-right: 15px;
}

.consultation #consultation-2::before {
    top: 150px;
}

.consultation #consultation-2:after {
    top: 145px;
}

.consultation #consultation-3::before {
    top: 300px;
}

.consultation #consultation-3:after {
    top: 295px;
}

.consultation .cost-form {
    display: none;
}

.consultation .cost-form--active {
    display: block;
}

.advantages {
    padding-top: 50px;
    padding-bottom: 50px;
}

.advantages__title {
    max-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.advantages .icon {
    width: 50px;
    height: 50px;
}

.advantages__box,
.advantages__text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.advantages__box {
    flex: 0 0 25%;
}

.advantages__containers-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

.advantages__containers-box:first-child {
    margin-bottom: 40px;
}    

.advantages__text {
    margin-top: 20px;
    text-align: center;
}

.advantages__name {
    font-size: 16px;
    line-height: 18px;
    max-width: 235px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.advantages__descr {
    font-size: 16px;
    line-height: 18px;
}

.fair-price {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../images/fair-price/bg-fair-price.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fair-price__title {
    color: #fff;
}

.fair-price__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fair-price__box:first-child {
    flex: 0 0 50%;
}

.fair-price__title {
    margin-bottom: 50px;
}

.fair-price__subtitle {
    text-transform: lowercase;
}

.fair-price__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.fair-price__item:last-child {
    margin-bottom: 0;
}

.fair-price__text {
    font-size: 16px;
    line-height: 22px;
    max-width: 195px;
    color: #fff;
    font-weight: 400;
    position: relative;
}

.fair-price__text:last-child {
    color: #fbba2f;
    max-width: 245px;
}

.fair-price__text:first-child::after {
    border: 1px solid #fbba2f;
    border-width: 0 2px 2px 0;
    right: -124px;
}

.fair-price__text:first-child::before {
    border-top: 1px solid #fbba2f;
    width: 80px;
    right: -120px;
}

.fair-price .form {
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    color: #fff;
    padding: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
}

.fair-price .form__text {
    min-width: 210px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}

.fair-price .cost-form::after,
.fair-price .cost-form::before {
    display: none;
}

.our-team {
    padding-top: 50px;
    padding-bottom: 50px;
}

.our-team__title {
    text-align: center;
    margin-bottom: 40px;
}

.team-swiper-btn-prev,
.team-swiper-btn-next {
    display: none;
}

@media (max-width: 1450px) {
    .swiper-slide__title {
        font-size: 32px;
        line-height: 52px;
    }

    .swiper-slide__text, .form__text {
        font-size: 20px;
        line-height: 30px;
    }

    .slide-item_text {
        color: #fff;
        font-size: 15px;
    }

    .swiper-wrap {
        width: 300px;
        height: 250px;
        position: absolute;
        top: 25%;
        left: calc(50% + 200px);
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1250px) {
    .stages-box::before, .stages-box__active::before {
        right: -45px;
    }

    .stages-box::after, .stages-box__active::after {
        right: -49px;
    }

    .fair-price__text:first-child::after {
        right: -84px;
    }
    
    .fair-price__text:first-child::before {
        width: 70px;
        right: -80px;
    }
}

@media (max-width: 1180px) {
    .stages-container__box img {
        max-width: 480px;
        width: 100%;
    }

    .stages-container__abbr--hover {
        left: -215px;
    }

    .stages__abbr {
        left: -150px;
    }

    .stages-container__abbr .stages__abbr::before,
    .stages-container__abbr .stages__abbr::after {
        left: 150px;
    }

    .stages-container__abbr--hover:before,
    .stages-container__abbr--hover:after {
        left: 218px;
    }
    
    .stages-box::before, .stages-box__active::before {
        right: -25px;
        width: 20px;
    }

    .stages-box::after, .stages-box__active::after {
        right: -30px;
    }

    .fair-price__text:first-child::after {
        right: -54px;
    }
    
    .fair-price__text:first-child::before {
        width: 40px;
        right: -50px;
    }
}

@media (max-width: 1110px) {
    .container {
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    
    .fair-price__box:first-child {
        flex: 0 0 60%;
    }

    .fair-price__text:first-child::after {
        right: -94px;
    }
    
    .fair-price__text:first-child::before {
        width: 70px;
        right: -90px;
    }
}

@media (max-width: 1085px) {
    .stages-box::before, .stages-box__active::before {
        content: none;
    }

    .stages-box::after, .stages-box__active::after {
        content: none;
    }

    .consultation .consultation__experts {
        margin-right: 20px;
    }

    .consultation .cost-form {
        max-width: 500px;
    }
}

@media (max-width: 990px) {
    .stages-box {
        max-width: 135px;
    }
    .stages-box::before, .stages-box__active::before {
        content: "";
        right: -30px;
    }

    .stages-box::after, .stages-box__active::after {
        content: "";
        right: -35px;
    }

    .consultation .cost-form {
        max-width: 480px;
    }

    .consultation .form__avatar-box {
        right: -15px;
    }

    .consultation .form__avatar {
        width: 180px;
        height: 200px;
    }

    .consultation .form__person-name {
        font-size: 18px;
    }

    .consultation .form__position {
        font-size: 14px;
    }

    .consultation .form__age:first-child {
        font-size: 45px;
    }

    .consultation .form__age:last-child {
        font-size: 14px;
    }

    .consultation .form__text {
        max-width: 260px;
    }

    .consultation .form__action {
        align-items: flex-start;
        flex-direction: column;
    }

    .consultation .form__input {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .fair-price__content {
        flex-direction: column;
        align-items: inherit;
    }

    .fair-price__box:first-child {
        margin-bottom: 50px;
    }

    .fair-price__title {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 620px;
    }

    .fair-price__text:last-child {
        max-width: 270px;
    }

    .fair-price__box {
        margin: 0 auto;
    }
}

@media (max-width: 890px) {
    .stages .modal__close {
        top: 30px;
    }
    .stages-box {
        max-width: 135px;
    }
    .stages-box::before, .stages-box__active::before {
        content: none
    }

    .stages-box::after, .stages-box__active::after {
        content: none
    }
}

@media (max-width: 831px) {
    .stages .modal__close {
        top: -10px;
    }

    .consultation .cost-expert__avatar {
        margin-right: 10px;
    }
    
    .consultation .cost-expert__info {
        max-width: 190px;
    }

    .cost-expert__name {
        font-size: 16px;
        line-height: 20px;
    }

    .cost-expert__rank {
        font-size: 14px;
    }

    .consultation .cost-form {
        padding: 30px 15px;
    }

    .consultation .form__avatar {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 720px;
        width: 80%;
    }

    .swiper-slide__content {
        padding-bottom: 140px;
    }

    .swiper-slide__title {
        max-width: 540px;
    }

    .cost-content {
        flex-direction: column;
    } 

    .cost-form {
        flex-direction: column;
    }

    .cost-form .form__text {
        text-align: center;
        max-width: 250px;
    }

    .cost-expert {
        margin-right: 0;
        margin-bottom: 35px;
    }

    .cost-form::after,
    .cost-form::before {
        content: none;
    }
    
    .stages__steps {
        display: none;
    }

    .stages-container__box {
        display: none;
    }

    .stages-container__abbr--hover,
    .stages__abbr {
        left: -23px;
    }

    .stages-container__abbr .stages__abbr::before,
    .stages-container__abbr .stages__abbr::after,
    .stages-container__abbr--hover:before,
    .stages-container__abbr--hover:after  {
        left: 18px;
    }

    .stages .swiper-button-prev, 
    .stages .swiper-button-next {
        display: block;
    }

    .consultation .cost-content {
        flex-direction: row;
    }

    .consultation .cost-form::after,
    .consultation .cost-form::before {
        content: "" ;
    }

    .consultation .form__avatar-box {
        display: none;
    }

    .consultation .form__person-name {
        margin-top: 0;
        font-size: 16px;
        font-weight: bold;
    }

    .consultation .form__body {
        margin-top: 25px;
    }

    .consultation .form__age:first-child {
        font-size: 50px;
    }
    
    .cost-form .form__text {
        font-size: 14px;
        line-height: 18px;
    }

    .advantages__containers-box {
        flex-wrap: wrap;
    }

    .advantages__box {
        flex: 0 0 50%;
    }

    .advantages__box:first-child,
    .advantages__box:nth-child(2) {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .stages .modal__close {
        top: -40px;
    }

    .header-inner__nav {
        display: none;
    }

    .swiper-pagination {
        display: none;
    }

    .modal__wrapper {
        width: 80%;
    }

    .stages-container__abbr,
    .stages__text-list {
        font-size: 16px;
        line-height: 18px;
    }

    .consultation #consultation-3::before {
        top: 250px;
    }

    .consultation #consultation-3::after {
        top: 245px;
    }

    .fair-price__box:first-child,
    .fair-price__title {
        margin-left: inherit;
        margin-right: inherit;
    }

    .fair-price__title {
        max-width: 420px;
        font-size: 24px;
        line-height: 30px;
    }

    .fair-price__subtitle {
        font-size: 18px;
    }

    .fair-price__text {
        font-size: 14px;
        max-width: 150px;
        line-height: 18px;
    }

    .fair-price__text:last-child {
        max-width: 200px;
    }

    .fair-price__text:first-child::before {
        right: -150px;
    }

    .fair-price__text:first-child::after {
        right: -154px;
    }
}

@media (max-width: 660px) {
    .stages .modal__close {
        top: -80px;
    }
}

@media (max-width: 650px) {
    .wrapper {
        width: 90%;
    }

    .swiper-slide__content_blok {
        text-align: center;
    }

    .swiper-slide__title {
        max-width: inherit;
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .swiper-slide__text, .form__text {
        font-size: 18px;
        line-height: 22px;
    }

    .form {
        flex-direction: column;
        align-items: center;
    }

    .form__input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form__btn {
        max-width: 250px;
    }

    .swiper-slide-pool {
        width: 230px;
        margin: 0 auto;
    }

    .modal__close {
        right: -20px;
        top: -10px;
    }

    .stages .swiper-button-prev {
        left: 15px;
    }
    .stages .swiper-button-next {
        right: 15px;
    }
}

@media (max-width: 610px) {
    .stages .modal__close {
        top: -110px;
    }
}
    
@media (max-width: 590px) {
    .stages-container__content {
        margin-left: 0;
    }
    .stages-container__fractions--current {
        margin-left: 40px;
    }
    .stages-btn-prev, .stages-btn-next {
        top: calc(50% - 9%);
    }
    .stages .swiper-button-prev {
        left: 35px;
    }
    .stages .swiper-button-next {
        right: 415px;
    }

    .consultation .cost-title {
        font-size: 24px;
        line-height: 28px;
    }

    .consultation .cost-content {
        flex-direction: column;
    }

    .consultation .consultation__experts {
        display: flex;
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .consultation .cost-expert__avatar {
        width: 100%;
    }

    .consultation .cost-expert {
        margin-bottom: 0;
        flex-direction: column;
        flex: inherit;
        margin-right: 20px;
    }

    .consultation .cost-expert:last-child {
        margin-right: 0;
    }

    .consultation .cost-expert__info {
        margin-right: auto;
        margin-top: 10px;
    }

    .cost-expert__name {
        font-size: 14px;
        line-height: 16px;
    }

    .cost-expert__rank {
        font-size: 14px;
    }

    .consultation__forms-block {
        width: 100%;
    }

    .consultation .cost-form {
        width: 100%;
        max-width: 580px;
    }

    .consultation .cost-form::after, 
    .consultation .cost-form::before,
    .consultation #consultation-2::after, 
    .consultation #consultation-2::before,
    .consultation #consultation-3::after, 
    .consultation #consultation-3::before  {
        transform: rotate(90deg);
        top: -62px;
    }
    
    .consultation .cost-form::before {
        left: 15px
    }

    .consultation .cost-form::after {
        left: 11px;
    }
    
    .consultation #consultation-2::before {
        left: 215px
    }

    .consultation #consultation-2::after {
        left: 211px;
    }

    .consultation #consultation-3::before {
        left: 400px
    }

    .consultation #consultation-3::after {
        left: 395px;
    }
    
    .consultation .form__avatar-box {
        display: block;
        top: 15px;
        right: 15px;
    }

    .consultation .form__person-name {
        margin-top: 0;
        font-size: 18px;
        font-weight: bold;
        margin-right: auto;
    }

    .consultation .form__position {
        font-size: 16px;
    }

    .consultation .form__body {
        margin-right: auto;
    }

    .consultation .form__action {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .consultation .form__input {
        margin-bottom: 0;
        margin-right: 15px;
    }

    .fair-price__text:first-child::before {
        right: -100px;
    }

    .fair-price__text:first-child::after {
        right: -104px;
    }
}

@media (max-width: 560px) {
    .stages .swiper-button-next {
        right: 390px;
    }

    .consultation .cost-expert__name {
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
    }

    .consultation .cost-expert__rank {
        font-size: 12px;
    }

    .consultation .form__avatar {
        width: 150px;
        height: 100px;
    }

    .consultation .form__person-name {
        margin-top: 10px;
    }
    
    .consultation .form__body {
        margin-top: 45px;
    }
}

@media (max-width: 530px) {
    .stages .modal__close {
        top: -150px;
    }

    .stages .swiper-button-next {
        right: 365px;
    }

    .stages__lists {
        padding-left: 30px;
    }

    .consultation #consultation-2::before {
        left: 175px
    }

    .consultation #consultation-2::after {
        left: 170px;
    }

    .consultation #consultation-3::before {
        left: 320px
    }

    .consultation #consultation-3::after {
        left: 315px;
    }
}

@media (max-width: 520px) {
    .second-gallery-slider {
        display: none;
    }
    
    .gallery-images-sliders .swiper-button-prev,
    .gallery-images-sliders .swiper-button-next {
        display: block;
    }

    .gallery-images-sliders .swiper-button-prev {
        left: 10px;
    }

    .gallery-images-sliders .swiper-button-next {
        right: 10px;
    }

    .modal__close {
        right: -30px;
        top: 100px;
    }

    .cost-expert__avatar {
        max-width: 192px;
        max-height: 197px;
    }

    .cost-expert__name { 
        font-size: 18px;
    }

    .cost-expert__lists {
        padding-left: 22px;
    }

    .cost-expert__text {
        font-size: 13px;
        font-weight: 600;
    }

    .stages .swiper-button-next {
        right: 345px;
    }

    .stages-container__abbr, 
    .stages__text-list {
        font-size: 14px;
    }

    .fair-price__text:first-child::before {
        right: -60px;
        width: 50px;
    }

    .fair-price__text:first-child::after {
        right: -64px;
    }
}

@media (max-width: 490px) {
    .stages .modal__close {
        top: -180px;
    }

    .stages .swiper-button-next {
        right: 315px;
    }

    .stages-container__abbr--hover,
    .stages__abbr {
        left: 50%;
        transform: translateX(-50%);
    }
    .stages-container__abbr .stages__abbr::before,
    .stages-container__abbr .stages__abbr::after,
    .stages-container__abbr--hover:before,
    .stages-container__abbr--hover:after {
        left: 50%;
        transform: translateX(-50%);
    }

    .consultation .form__action {
        flex-direction: column;
    }

    .consultation .form__input,
    .cost-form .form__btn {
        max-width: 100%;
    }

    .consultation .form__input {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .fair-price__text {
        font-size: 12px;
        max-width: 135px;
        line-height: 16px;
    }

    .fair-price__text:last-child {
        max-width: 155px;
    }
}

@media (max-width: 450px) {
    .stages .modal__close {
        top: -210px;
    }

    .stages .swiper-button-next {
        right: 290px;
    }

    .stages-btn-prev, .stages-btn-next {
        top: calc(50% - 13%);
    }
    
    .stages-container__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stages-container__btn {
        min-width: 200px;
        max-width: inherit;
    }

    .stages-container__btn:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .consultation .form__person-name {
        font-size: 16px;
        max-width: 175px;
    }

    .consultation .form__position {
        font-size: 12px;
    }

    .consultation #consultation-2::before {
        left: 130px
    }

    .consultation #consultation-2::after {
        left: 126px;
    }

    .consultation #consultation-3::before {
        left: 275px
    }

    .consultation #consultation-3::after {
        left: 270px;
    }
}

@media (max-width: 423px) {
    .stages .modal__wrapper {
        height: 607px;
    }

    .stages .modal__box {
        padding: 35px 35px;
    }

    .stages .modal__close {
        top: 20px;
        right: -5px;
    }

    .stages .modal__title {
        font-size: 18px;
    }

    .stages .modal__text {
        font-size: 14px;
    }

    .modal .stages__text-list {
        font-size: 12px;
    }

    .stages .form__text {
        font-size: 15px;
    }
    
    .stages .swiper-button-next {
        right: 260px;
    }

    .stages-btn-prev, .stages-btn-next {
        top: calc(50% - 10%);
    }
}

@media (max-width: 395px) {
    .stages-container__fractions--current {
        margin-left: 140px;
    }

    .stages .swiper-button-next {
        right: 15px;
    }

    .consultation .form__avatar {
        width: 100px;
    }

    .consultation .form__person-name {
        font-size: 14px;
    }

    .consultation .form__position {
        font-size: 12px;
    }

    .consultation #consultation-2::before {
        left: 110px
    }

    .consultation #consultation-2::after {
        left: 106px;
    }

    .consultation #consultation-3::before {
        left: 235px
    }

    .consultation #consultation-3::after {
        left: 230px;
    }

    .fair-price__text {
        max-width: 100px;
    }

    .fair-price__text:last-child {
        max-width: 125px;
    }
}

@media (max-width: 350px) {
    .stages .modal__close {
        top: 10px;
    }

    .cost-expert {
        flex-direction: column;
    }

    .cost-expert__name {
        margin-top: 10px;
    }

    .cost-expert__lists {
        padding-left: 40px;
    }
}

@media (max-width: 345px) {
    .stages .modal__close {
        top: -30px;
    }

    .consultation #consultation-2::before {
        left: 110px
    }

    .consultation #consultation-2::after {
        left: 106px;
    }

    .consultation #consultation-3::before {
        left: 200px
    }

    .consultation #consultation-3::after {
        left: 195px;
    }

    .fair-price__text:first-child::after {
        right: -54px;
    }

    .fair-price__text:first-child::before {
        right: -50px;
        width: 40px;
    }

    .fair-price .form  {
        padding: 20px;
    }
}

@media (max-width: 320px) {
    .wrapper {
        width: 90%;
    }

    .swiper-slide__title {
        font-size: 22px;
        line-height: 32px;
    }

    .gallery-images-sliders .swiper-button-prev {
        left: -5px;
    }

    .gallery-images-sliders .swiper-button-next {
        right: -5px;
    }

    .modal__close {
        right: -30px;
        top: 230px;
    }

    .cost-expert {
        flex-direction: column;
    }

    .cost-expert__name {
        margin-top: 10px;
    }

    .cost-expert__lists {
        padding-left: 40px;
    }

    .stages-container__fractions--current {
        margin-left: 40px;
    }

    .stages .swiper-button-next {
        right: 170px;
    }

    .advantages__descr {
        font-size: 14px;
        line-height: 16px;
    }
}